# SPDX-FileCopyrightText: 2023 Hannes Fuchs (GFZ) <hfuchs@gfz-potsdam.de>
# SPDX-FileCopyrightText: 2023 Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences
#
# SPDX-License-Identifier: Apache-2.0

__pycache__/
*.py[cod]

*~
*-
*.swp
.DS_*

build
dist
*.egg-info

env

.vscode
